/*estilos*/

body{
    font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5,h6,p{
    font-family: 'Roboto', sans-serif;
}

.fondo {
            background: url('../img/tree.jpg');
            height: 100vh;
            background-position: center;
            background-size: cover;
        }
